form {
    text-align: left;
    padding: 6rem;
    font-weight: bold
}

.alert {
    text-align: left;
    max-width: 50rem;
    margin: 0 auto;
    margin-top: 3rem;
}
.add-tasks {

    font-weight: bold;
  }